.formSearchRoom {
  min-width: 290px;
  max-width: 380px;
}

.react-datepicker__input-container {
    input {
        width: 100%;
    }
}

.buttonLine {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 20px;
  padding-left: 15px;
  padding-right: 15px;
  font-weight: bold;
  color: #bc9cff;
  text-transform: uppercase;
}