@import "~react-dates/lib/css/_datepicker.css";

.dp {
  position: relative;

  &--input {
    width: 100%;
    background-color: white !important;
  }

  &--bottomPanel {
    color: #bc9cff;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
  }

  &--container {
    &-rangeSingle {
      position: relative;
      top: -60px;
      left: 0px;

      @media (max-width: 576px) {
        top: -130px;
        left: 0px;
      }

      @media (max-width: 320px) {
        top: -130px;
        left: 37px;
      }
    }
  }
}

.DateRangePicker,
.SingleDatePicker {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
  border-radius: 4px;

  @media (max-width: 576px) {
    top: 70px;
    left: 0px;
  }

  @media (max-width: 320px) {
    top: 70px;
    left: -46px;
    right: 0;
  }

  &_picker {
    visibility: visible;
  }
}

.SingleDatePicker {
  top: -25px;
  left: -2px;

  @media (max-width: 576px) {
    top: -20px;
    left: -4px;
    right: 0;
  }

  @media (max-width: 320px) {
    top: -25px;
    left: -42px;
    right: 0;
  }
}

.DayPicker {
  &_weekHeader {
    top: 70px;
    small {
      color: #bc9cff;
      font-weight: bold;
      font-size: 100%;
    }
  }
}

.DayPickerNavigation {
  &__horizontal {
    display: flex;
    justify-content: space-between;
    padding: 0 25px;

    top: 15px;
  }
}

.CalendarMonth {
  &_caption {
    margin-bottom: 20px;
  }
}

.CalendarDay {
  border-radius: 50%;

  &__default {
    border: none;
    color: #484848;
    background: #fff;

    &:hover {
      border: none;
    }
  }

  &__today {
    background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
    color: white;
    font-weight: bold;
    border-radius: 50%;
  }

  &__selected {
    background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
    color: white;
    font-weight: bold;

    &_start,
    &_end {
      color: white;
      font-weight: bold;

      background: url(../../img/select.svg) top left/38px 38px no-repeat;
      background-color: rgba(188, 156, 255, 0.25);
    }
    &_start {
      border-radius: 50% 0 0 50%;
    }

    &_end {
      border-radius: 0 50% 50% 0;
    }

    &_span {
      background-color: rgba(188, 156, 255, 0.25);
      border-radius: 0%;
    }

    &:hover {
      background: url(../../img/select.svg) top left/38px 38px no-repeat;
      background-color: rgba(188, 156, 255, 0.25);
    }
  }
  &__hovered_span {
    background-color: rgba(188, 156, 255, 0.25) !important;
    border-radius: 0%;
  }
}
