.pagination {
  margin-top: 20px;
  margin-bottom: 5px;
  
  .page-link {
    border-radius: 50% !important;
    border: none;

    @media (max-width: 576px) {
      height: 30px;
      width: 30px;
      line-height: 14px;
    }

    height: 40px;
    width: 40px;

    text-align: center;
    vertical-align: middle;
    line-height: 24px;

    &.active {
      background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
    }
  }
}

.page-item {
  margin-left: 2px;
  margin-right: 2px;
}

.paginator {
  &--prev,
  &--next {
    .page-link {
      background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
      color: white;
    }
  }

  &--spacer {
    .page-link {
      @media (max-width: 576px) {
        padding: {
          left: 1px;
          right: 1px;
        }
        width: 10px;
      }
    }
  }
}
